{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,900">
    <link rel="stylesheet" href="/static/css/style.bundle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <title>Software Developer in Stockholm</title>
    <meta name="description" content="I'm a freelancing software developer working and living in Stockholm, Sweden.">
  </head>
  <body>
    {{template "content" .}}
    <script src="/static/js/main.bundle.js"></script>
  </body>
</html>
{{end}}
