.form {
  width: 100%;
}

.form__text,
.form__button,
.form__input {
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  display: block;
  appearance: none;
  border: 0;
  font-size: 1.8rem;
}

.form__input {
  height: 60px;
  line-height: 40px;
  padding: 0 20px;
}

.form__input,
.form__text {
  width: 100%;
  border: solid 2px transparent;
  transition: border .1s ease-in-out;

  &:active,
  &:focus {
    border: solid 2px $blue;
    outline: none;
  }
}

.form__text {
  height: 120px;
  resize: none;
  padding: 20px;
}

.form__button {
  background: $blue;
  color: $white;
  text-transform: uppercase;
  font-size: 1.8rem;
  padding: 15px 40px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .5);
  transition: all .1s ease-in-out;
  border-radius: 2px;
  border: solid 1px darken($blue, 5%);

  &:focus,
  &:active,
  &:hover {
    outline: none;
    cursor: pointer;
    background: $dark-blue;
    box-shadow: none;
    border: solid 1px $dark-blue;
  }
}
