$black: rgba(29, 31, 41, 1.0);
$white: rgba(244, 247, 248, 1.0);
$pure-white: rgba(255, 255, 255, 1.0);
$yellow: rgba(247, 194, 68, 1.0);
$gray: rgba(95, 124, 138, 1.0);
$turquoise: rgba(78, 163, 154, 1.0);
$blue: rgba(48, 138, 247, 1.0);
$dark-blue: rgba(57, 73, 171, 1.0);
$purple: rgba(142, 68, 151, 1.0);
$red: rgba(245, 0, 87, 1.0);
$green: rgba(55, 209, 150, 1.0);

$s-media: 375px;
$m-media: 768px;
$l-media: 1024px;
